@model C_ENTIDAD.Usuario

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar</title>
</head>

<body>
    <div class="form-horizontal">
        <h3> Lista de Trabajadores</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.trabajador, htmlAttributes: new { @class = "control-label col-md-2" });
            <div class="col-md-10">
                @Html.EditorFor(model => model.trabajador.nombre, new {htmlAtributes=new {@class="form-control"}} )
                @Html.ValidationMessageFor(model => model.trabajador.nombre, "", new { @class="text-danger"})
            </div>
        </div>

     </div>
</body>
</html>
