
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1 
            style="font-size:24px; color: blue">Ups :(</h1>
        <br />
        <p style="color: red">@ViewBag.mensaje</p>
    </div>
</body>
</html>
